* {
  font-family: 'Droid Sans', sans-serif;
}

section {
  display: block;
}

body {
  background-color: #D5D8DC;
}

h1 {
  text-align: center;
}

div {
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 3%;
  width: 50%;
  padding: 3%;
  clear: both;
  overflow: auto;
  background-color: white;
}

a:hover {
  opacity: 0.5;
}

p {
  float: left;
  width: 60%;
  margin: auto;
}

img {
  width: 30%;
  padding-left: 10px;
  margin: 0
}
